html{
  overflow: hidden;
  cursor:none;
}

body {
  background-color: rgb(255, 255, 255);
  font-size: 16px;
}

.filter{
  mix-blend-mode: multiply;
  z-index:100 !important;
  width:100% !important;
  height:100% !important;
}

.background {
  display: block;
  float: left;
  width: 5184px;
  height: auto;
  overflow: hidden;
}

.global-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 5184px;
  height: 1200px;
  mix-blend-mode: multiply;
}

.time-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 5184px;
  height: 1200px;
}

.fetching-wrapper {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 1000px;
  z-index: 1;
  width: 5184px;
  height: 1200px;
  background-color: #fff;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

.fetching-wrapper-show{
  opacity:1;
  left:0;
}

.pg1-wrapper {
  position: absolute;
  top: 115px;
  left: -326px;
  z-index: 3;
  width: 1920px;
  height: 1080px;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.pg1-wrapper .playground {
  z-index: 2;
}

.pg2-wrapper {
  position: absolute;
  top: 115px;
  left: 1200px;
  z-index: 5;
  width: 1920px;
  height: 1080px;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.pg2-wrapper .playground {
  z-index: 4;
}

.pg3-wrapper {
  position: absolute;
  top: 115px;
  left: 2750px;
  z-index: 7;
  width: 1920px;
  height: 1080px;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.pg3-wrapper .playground {
  z-index: 6;
}

.playground {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: auto;
  overflow: hidden;
}

.playground-hidden{
  opacity:0;
  top:-30px;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  -ms-transition: all .4s;
  transition: all .4s;
}
